* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width:100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
h1 {
    font-family: arial;
    color:red;
    
}
.container_card {
    width:240px;
    height: 200px;
    transition: 1.3s ease all;
    border: 1px solid #000;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
    background-color: rgba(197,241,205,.3);

    .container__img {
        width: auto;
        height: 120px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        padding:10px 8px;
        transition-property: height,width;
        
        
        img { 
            width:90px;
            height: 90px;
            object-fit:cover;
            transition: 1.3s ease all;
        }
        
        
    }
    .container__info {
        width:220px;
        height: 25px;
        display: flex;
        justify-content: space-between;

        p {
            font-size: 14px;
            font-family: arial;
            margin-top:10px;
        }
    }
    .container__grid {
        width: 220px;
        height: 1px;
        padding: 5px 5px;
        display:grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: "item1 item2 item3 item4"
                             "item1 item2 item3 item4"
                             "item5 item5 item5 item5"
                             "item6 item6 item6 item6";
        gap:10px;
        div {
            display: none;
            animation: fade 1ms 0.4s forwards;
            opacity: 0;
             p {
                text-align: center;
                font-family: arial;
            }
            
            img {
                width: 30px;
                height: 30px;
            }
            
        }
        .item1 {
            grid-area: item1;
           
        }
        .item2 {
            grid-area: item2;
        }
        .item3 {
            grid-area: item3;
        }
        .item4 {
            grid-area: item4;
        }
        .item5 {
            grid-area: item5;
            p {
                font-size:15px;
            }   
        }
        .item6 {
            grid-area: item6;  
            p {
                font-size:15px;
            }              
        }
        }
        
    }
    
    

.container_card:hover {
    height: 330px;
    transition-duration: .4s;
    background-color: rgba(241,197,211,.3);

    .container__grid {
        height: 160px;
        transition-duration: 1.3s;
        
    }
    img {
        transition-timing-function: ease;
        width:120px;
        height: 120px;
        transition-duration: 0.5s;
        }   
    .container__grid div {
        transition-delay: 1s;
        display:block;
        transform-style: opacity;
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }
}